.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(10, 10, 20, 0.72);
  backdrop-filter: blur(8px);

  z-index: 999999;
}

.modal {
  width: min(900px, 92vw);
  max-height: 90vh;
  overflow-y: auto;

  background: white;
  border-radius: 22px;
  padding: 34px;

  position: relative;
}
