.editor-page-scope .appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.editor-page-scope .layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}
